/* ========================================================================================== */
/* begin: TAGS */
/* ========================================================================================== */
* {
	box-sizing : border-box ;
	-moz-box-sizing : border-box ;
}

HTML, BODY, DIV, UL, LI, SPAN {
	color : #000 ;
	font-family : tahoma, arial ;
	margin : 0px ;
	padding : 0px ;
}

HTML {
	font-size : 100% ;
	height : 100% ;
}

BODY {
	background : #fff ;
	height : 100% ;
	min-height : 100% ;
	min-width : 995px ;
}

LABEL {
	font-weight: bold;
}

IMG {
	border : 0 ;
}

A {
	color : #7AADD2 ;
}
/* ========================================================================================== */
/* end: TAGS */
/* ========================================================================================== */